body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    color: #487CE4;
    text-decoration: none;
}

.alert__wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background: #282B30;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.alert__container {
    border-radius: 7px;
    border-top: 4px solid #CF4856;
    max-width: 450px;
    padding: 50px 60px;
    margin: 3px;
    background: #31343B;
    border-radius: 7px;
}

.alert__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.alert__subtitle {
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 10px;
    background: rgba(207, 72, 86, .2);
    color: #CF4856;
    margin-bottom: 5px;
    user-select: none;
    width: fit-content;
}

.alert__title {
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}

.alert__text {
    font-size: 14px;
    line-height: 1.4;
    color: rgba(255, 255, 255, .4);
    text-align: center;
}

.alert__content {
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
}

.alert__step {
    padding: 10px;
    background: #282B30;
    border-radius: 10px;

    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.alert__step-number {
    font-size: 17px;
    
    padding: 15px 0;
    padding-left: 10px;
    padding-right: 20px;
}

.alert__step-title {
    font-size: 15px;
    font-weight: 500;

    margin-bottom: 5px;
}

.alert__step-text {
    font-size: 13px;
    color: rgba(255, 255, 255, .4);
}

.alert__hints {
    margin-top: 20px;
    margin-bottom: 40px;
}

.alert__hint {
    font-size: 12px;
    color: rgba(255, 255, 255, .3);

    margin-bottom: 10px;
}

.alert__personalus {
    cursor: pointer;
    user-select: none;
    padding: 6px 16px;
    color: #487CE4;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
    transition: background .2s ease-in-out;
    background: rgba(72, 124, 228, .2);
}

.alert__personalus:hover {
    background: rgba(72, 124, 228, .4);
}

.alert__personalus:active {
    background: rgba(72, 124, 228, .6);
}

svg {
    height: 35px;
    margin-top: 20px;
}