:root {
    --color-bg: #fff;
    --color-darker-bg: rgba(0, 0, 0, .05);
    --color-text: #000;
    --color-sub-text: rgba(0, 0, 0, .2);
}

[data-theme="dark"] {
    --color-bg: #31343B;
    --color-darker-bg: #282B30;
    --color-text: #fff;
    --color-sub-text: rgba(255, 255, 255, .3);
}

body {
    margin: 0;
    padding: 0;

    background: var(--color-bg);
    transition: background .2s ease-in-out;

    user-select: none;
}

a {
    color: #2475E3;
    text-decoration: none;
}

.checkbox_switch {
    background-color: transparent;
    position: relative; 
}
.checkbox_switch input {
    opacity: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.checkbox_switch i {
    display: block;
    position: relative;
    transition: background .2s;
    width: 16px;
    height: 16px;
    border: 3px solid #727272;
}
.checkbox_switch svg {
    position: absolute;
    top: -2px;
    width: 24px;
    height: 24px;
    fill: #404040;
    left: -1px;
}

.checkbox_switch input:checked svg {
    display: block;
}
.checkbox_switch input svg {
    display: none;
}
.wrap_form p{
    height: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-switch {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.form-switch i {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    background-color: var(--color-darker-bg);
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: var(--color-darker-bg);
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}
  
.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
    transform: translate3d(16px, 2px, 0);
}

.form-switch input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.form-switch input:checked + i {
    background-color: #2475E3;
}

.form-switch input:checked + i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
    transform: translate3d(22px, 2px, 0);
}

.main__wrapper {
    min-width: 350px;

    height: 100%;
}

.main__header {
    display: flex;
    justify-content: space-between;

    padding: 25px 40px;
    opacity: 0;

    will-change: transform, opacity;
    animation: fadeIn .5s .1s forwards;
}

.main__h_link {
    font-size: 16px;
    color: var(--color-sub-text);

    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    cursor: pointer;

    transition: color .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.main__h_link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #2475E3;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.main__h_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main__h_link:hover {
    color: var(--color-text)
}

.main__h_link.selected {
    color: var(--color-text);
    border-bottom: 2px solid #2475E3;
}

.main__container {
    margin: 0 40px;
    margin-top: 10px;
    margin-bottom: 90px;
    opacity: 0;
    
    will-change: transform, opacity;
    animation: fadeIn .5s .2s forwards;
    transform: translateY(0);

    transition: all .2s ease-in-out;
}

.main__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--color-darker-bg);
    opacity: 0;
    
    will-change: transform, opacity;
    animation: fromBottom .5s .3s forwards;
}

.main__logo {
    height: 33px;
}

.main__langs {
    font-size: 13px;

    display: flex;

    background: #31343B;
    border-radius: 5px;

    margin-right: 30px;
    padding: 6px 10px;
    cursor: pointer;
}

.main__lang {
    color: rgba(255, 255, 255, .2);

    transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.main__lang:hover {
    color: rgba(255, 255, 255, .85)
}

.main__lang.selected {
    color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #2475E3;
}

.main__lang:nth-child(1) {
    margin-right: 8px;
}

.report__reporter {
    margin-top: 40px;
}

.report__reporter_title {
    font-size: 17px;
    font-weight: 600;
    color: var(--color-text);

    margin-bottom: 15px;
}

.report__field {
    display: flex;

    width: 100%;
}

.report__field input {
    font-size: 14px;
    color: #fff;
    height: 33px;
    background: var(--color-darker-bg);
    border: none;
    padding-left: 12px;
    border-radius: 5px 0 0 5px;
    width: 100%;
}

.report__field input:focus {
    outline: none;
}

.report__send {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 33px;
    border-radius: 0 5px 5px 0;
    background: rgba(36, 117, 227, 1);
    cursor: pointer;
    max-width: 70px;
    min-width: 70px;

    box-sizing: border-box;
    padding: 0 18px;

    display: flex;
    align-items: center;

    transition: background .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.report__send:hover {
    background: rgb(64, 137, 238);
}

.report__send:active {
    background: rgba(36, 117, 227, .7);
}

.report__message {
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin-top: 5px;

    opacity: 0;
    transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.report__message.success {
    color: #6FCF97;
    opacity: 1;
}

.report__message.error {
    color: #EB5757;
    opacity: 1;

    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.report__status {
    margin-bottom: 40px;
}

.report__status_title {
    color: var(--color-text);
    font-size: 17px;
    font-weight: 600;
}

.report__status_message {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 7px 0;
    border-radius: 7px;

    background: rgba(36, 117, 227, .2);
    color: rgba(36, 117, 227, 1);
    transition: all .3s ease-out;
    cursor: wait;

    margin-top: 15px;
}

.report__status_message.safe {
    background: rgba(111, 207, 151, .25);
    color: rgb(111, 207, 151);
    cursor: pointer;
}

.report__status_message.danger {
    color: rgb(235, 86, 86);
    background: rgba(235, 86, 86, .2);
    cursor: not-allowed;
}

.report__status_message.disabled {
    color: rgba(255, 255, 255, .8);
    background: rgba(255, 255, 255, .2);
    cursor: not-allowed;
}

.report__status_revoke {
    display: none;
    font-size: 14px;
}

.report__status_revoke.visible {
    display: block;
}

.report__status_hint {
    color: rgba(255, 255, 255, .2);
    text-align: center;

    margin-top: 5px;
}

.settings__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.settings__item-info {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.settings__item-title {
    font-size: 15px;
    color: var(--color-text);
}

.settings__item-desc {
    font-size: 13px;
    color: var(--color-sub-text);

    max-width: 205px;
    margin-top: 3px;
}

.about__app {
    display: flex;
}

.about__logo {
    width: 50px;
    height: 50px;

    margin-right: 15px;
}

.about__info {
    display: flex;
    flex-direction: column;
}

.about__name {
    font-size: 15px;
    color: var(--color-text);

    margin-top: 5px;
}

.about__version {
    font-size: 14px;
    color: var(--color-sub-text);

    margin-top: 3px;
}

.about__desc {
    font-size: 13px;
    color: var(--color-sub-text);
    
    margin-top: 15px;
    margin-bottom: 20px;
}

.about__status {
    display: flex;
    flex-direction: column;
}

.about__status-title {
    font-size: 16px;
    color: var(--color-text);
    font-weight: 600;

    margin-bottom: 10px;
}

.about__status-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.about__status-name {
    font-size: 14px;
    color: var(--color-sub-text);
}

.about__status-indicator {
    font-size: 13px;
    border-radius: 50px;
    color: rgba(255, 255, 255, .5);
    background: rgba(255, 255, 255, .2);

    cursor: wait;
    padding: 4px 9px;
}

.about__status-indicator.online {
    color: rgb(111, 207, 151);
    background: rgba(111, 207, 151, .2);

    cursor: pointer;
}

.about__status-indicator.offline {
    color: rgb(235, 86, 86);
    background: rgba(235, 86, 86, .2);

    cursor: not-allowed;
}

.about__link {
    font-size: 13px;
    color: var(--color-sub-text);
    text-decoration: none;

    width: 100%;
    border-radius: 5px;
    background: var(--color-darker-bg);

    display: flex;
    align-items: center;

    margin-top: 5px;
    cursor: pointer;
}

.about__link img {
    width: 20px;
    height: 20px;

    padding: 4px 7px;
}

.about__os {
    color: rgba(255, 255, 255, .4);
    margin-top: 15px;
}
