a {
    text-decoration: none;
}

.scam__wrapper {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: #282B30;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scam__container {
    background: #31343B;
    border-top: 4px solid #CF4856;
    padding: 50px 60px;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.scam__head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scam__subtitle {
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 10px;
    background: rgba(207, 72, 86, .2);
    color: #CF4856;
    margin-bottom: 5px;
    user-select: none;
    width: fit-content;
}

.scam__title {
    font-size: 28px;
    color: rgba(255, 255, 255, 1);

    margin-bottom: 5px;
}

.scam__text {
    font-size: 14px;
    line-height: 1.4;
    color: rgba(255, 255, 255, .4);

    max-width: 350px;
    text-align: center;
}

.scam__buttons {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-top: 40px;
}

.scam__goto {
    font-size: 15px;
    color: rgb(111, 207, 151);
    background: rgba(111, 207, 151, .2);
    width: fit-content;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background .2s ease-in-out;
    user-select: none;
}

.scam__goto:hover {
    background: rgba(111, 207, 151, .4);
}

.scam__goto:active {
    background: rgba(111, 207, 151, .6);
}

.scam__close {
    font-size: 15px;
    color: rgb(235, 87, 87);
    width: fit-content;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background .2s ease-in-out;
    user-select: none;
}

.scam__close:hover {
    background: rgba(235, 87, 87, .2);
}

.scam__close:active {
    background: rgba(235, 87, 87, .4);
}

.scam__wrapper svg {
    height: 35px;
    margin-top: 20px;
}

@media (max-width: 500px) {
    .scam__buttons {
        flex-direction: column;
    }
}