<div class="about__app">
    <img src="/images/app_logo.svg" class="about__logo">
    
    <div class="about__info">
        <div class="about__name">CS.Money Antiscam</div>

        <div class="about__version">v1.0.0</div>
    </div>
</div>

<div class="about__desc">
    This extension alarms the user when he's interacting with the phishing sites.
</div>

<div class="about__status">
    <div class="about__status-title">
        Project status
    </div>

    <div class="about__status-item">
        <div class="about__status-name">cs.money</div>
        <div id="ind_csm" class="about__status-indicator">Unknown</div>
    </div>

    <div class="about__status-item">
        <div class="about__status-name">Antiscam Server</div>
        <div id="ind_anti" class="about__status-indicator">Unknown</div>
    </div>
</div>

<div class="about__os">Open Source</div>
<a href="https://gitlab.com/csmoney/antiscam" target="_blank" class="about__link" rel="noopener noreferrer">
    <img src="/images/link.svg" alt="">
    https://<span style="color: #fff">gitlab.com</span>/csmoney/antiscam
</a>
