<div class="main__wrapper">
    <div class="main__header">
        <div id="report_l" class="main__h_link selected">Report</div>

        <div id="settings_l" class="main__h_link">Settings</div>

        <div id="about_l" class="main__h_link">About</div>
    </div>

    <div id="app_container" class="main__container">
        
    </div>

    <div class="main__footer">
        <svg class="main__logo" width="100%" height="100%" version="1.1" viewBox="0 0 49318.4 18649.7">
            <path style="fill:#FEFEFE;fill-rule:nonzero" d="M32995.61 16830.5c-189.01,-245.7 -444.17,-283.52 -590.66,-283.52 -524.49,0 -968.66,396.92 -968.66,1044.29 0,548.12 349.65,1058.44 963.95,1058.44 141.75,0 392.19,-33.08 595.37,-269.33l0 207.91 463.08 0 0 -1989.33 -463.08 0 0 231.54zm-533.96 132.31c292.97,0 562.3,207.9 562.3,642.62 0,415.83 -269.33,628.46 -562.3,628.46 -335.49,0 -552.85,-288.24 -552.85,-633.17 0,-354.4 217.36,-637.91 552.85,-637.91zm1578.23 1625.48l463.08 0 0 -954.5c0,-642.64 212.63,-670.98 420.54,-670.98 174.83,0 363.85,14.18 363.85,519.78l0 1105.7 463.06 0 0 -1219.11c0,-307.14 -47.25,-444.17 -122.85,-552.85 -61.43,-85.06 -217.35,-269.35 -585.93,-269.35 -113.41,0 -340.22,14.18 -538.67,236.27l0 -184.29 -463.08 0 0 1989.33zm3128.1 -1564.05l0 -425.28 -354.4 0 0 -727.68 -463.06 0 0 727.68 -193.74 0 0 425.28 193.74 0 0 1564.05 463.06 0 0 -1564.05 354.4 0zm311.88 -425.28l0 1989.33 463.07 0 0 -1989.33 -463.07 0zm-66.16 -822.18c0,170.11 127.58,297.69 297.69,297.69 170.11,0 297.68,-127.58 297.68,-297.69 0,-170.11 -127.57,-297.7 -297.68,-297.7 -170.11,0 -297.69,127.59 -297.69,297.7zm2329.53 1119.87c-70.88,-127.58 -160.65,-203.17 -226.81,-245.71 -113.41,-75.6 -226.81,-103.96 -368.56,-103.96 -245.72,0 -396.92,94.52 -486.71,189.02 -103.95,108.68 -165.38,264.61 -165.38,425.26 0,127.59 37.81,236.27 141.76,335.49 75.61,75.61 184.29,127.59 274.06,170.11l170.11 80.34c75.61,33.07 141.75,66.15 198.46,122.85 42.53,47.25 61.42,94.5 61.42,151.21 0,56.7 -28.34,118.13 -66.14,155.93 -42.53,42.53 -118.13,66.15 -189.01,66.15 -108.68,0 -174.84,-47.25 -203.2,-75.61 -42.52,-37.79 -85.04,-122.84 -108.67,-189l-378.02 179.57c47.25,141.74 141.77,278.78 255.17,363.83 141.75,108.68 302.41,127.58 429.99,127.58 207.91,0 401.65,-51.97 557.58,-222.08 108.68,-118.13 174.83,-274.06 174.83,-453.62 0,-137.04 -37.79,-259.88 -146.47,-368.58 -75.61,-80.32 -174.84,-132.3 -278.79,-184.27l-236.26 -118.13c-99.25,-51.98 -127.59,-61.43 -155.95,-80.34 -42.52,-28.34 -66.14,-61.43 -66.14,-113.4 0,-42.53 18.89,-80.32 42.52,-103.96 28.35,-28.34 75.61,-51.97 141.75,-51.97 146.49,0 236.27,94.5 283.52,170.11l344.94 -226.82zm2027.13 -207.9c-212.63,-118.13 -392.2,-141.77 -543.4,-141.77 -392.19,0 -642.64,137.04 -798.57,292.97 -146.47,146.48 -302.4,396.92 -302.4,770.21 0,363.85 141.75,600.11 283.51,746.59 189,198.46 425.27,292.96 756.03,292.96 307.15,0 491.42,-85.06 604.83,-155.92l0 -515.06c-160.66,179.57 -382.74,255.16 -571.74,255.16 -170.11,0 -316.6,-61.43 -420.56,-160.66 -89.77,-89.77 -179.56,-245.7 -179.56,-477.24 0,-222.08 85.07,-373.3 170.11,-458.35 85.06,-85.06 222.09,-174.83 439.45,-174.83 141.76,0 349.67,37.8 562.3,245.72l0 -519.78zm1899.56 141.75c-189.02,-245.7 -444.17,-283.52 -590.67,-283.52 -524.49,0 -968.66,396.92 -968.66,1044.29 0,548.12 349.66,1058.44 963.95,1058.44 141.75,0 392.2,-33.08 595.38,-269.33l0 207.91 463.07 0 0 -1989.33 -463.07 0 0 231.54zm-533.96 132.31c292.96,0 562.3,207.9 562.3,642.62 0,415.83 -269.34,628.46 -562.3,628.46 -335.49,0 -552.85,-288.24 -552.85,-633.17 0,-354.4 217.36,-637.91 552.85,-637.91zm1582.95 1625.48l463.08 0 0 -1025.38c0,-170.11 9.44,-340.22 89.77,-453.62 61.43,-85.05 160.66,-146.48 274.06,-146.48 165.39,0 236.27,99.23 264.61,174.83 18.91,42.53 42.54,132.3 42.54,354.39l0 1096.26 463.06 0 0 -1025.38c0,-170.11 9.46,-340.22 89.79,-453.62 61.43,-85.05 160.66,-146.48 274.06,-146.48 165.39,0 236.27,99.23 264.61,174.83 18.91,42.53 42.53,132.3 42.53,354.39l0 1096.26 463.07 0 0 -1228.56c0,-288.24 -66.15,-434.72 -103.95,-500.87 -113.41,-198.47 -326.04,-311.88 -567.03,-311.88 -174.83,0 -425.26,56.71 -590.65,292.97 -113.4,-193.72 -307.14,-292.97 -515.05,-292.97 -151.2,0 -335.49,47.25 -491.42,236.27l0 -184.29 -463.08 0 0 1989.33z"/>
            <path style="fill:white" d="M15240.04 8360.82c0,388.2 -86.05,1341.69 -161.35,1673.09 -505.93,2226.37 -1467.73,3028.38 -1531.98,3265.78 460.76,0 485,-18.17 919.64,32.86 87.48,10.28 222.68,2.49 315.08,2.42 211.67,-0.16 423.34,0.02 635,0 102.67,0 218.05,-5.23 318.88,-1.38 219.4,8.39 234.35,36.66 668.9,36.66l37.81 -526.63c44.4,-400.95 121.94,-822.15 138.01,-1237.82 3.32,-85.78 29.57,-323.74 43.32,-415.29l133.64 -1242.19 1319.82 3593.48c76.59,-95.79 606.13,-1571.08 686.16,-1799.19l675.14 -1794.29 317.5 3421.93c145.03,-0.13 140.4,-20.11 249.36,-32.86 98.72,-11.55 216.52,5.23 315.46,-2.04l550.06 -49.66c118.19,-21.66 135.46,-21.38 261.41,-20.82 152.27,0.68 167.93,-19.7 284.18,-33.31 98.7,-11.56 216.53,5.22 315.47,-2.04 125.95,-9.24 128.73,-35.52 281.84,-35.66l-430.81 -3661.4c-130.48,-877.05 -208.57,-1866.71 -337.59,-2731.57 -44.25,-296.66 -45.52,-627.14 -113.55,-909.5l-2046.11 0 -933.34 2640.36 -974.98 -2639.17 -2289.75 -1.19 232.94 1178.17c32.32,190.13 59.58,430.63 82.15,623.4 12.01,102.64 -0.34,244.59 1.1,351.67 2.08,153.97 36.59,178.8 36.59,316.19z"/>
            <path style="fill:white" d="M27940.05 9807.21c-76.34,406.24 -189.76,747.38 -585.17,1037.6 -293.56,215.48 -674.04,392.47 -1051.26,352.64 -69.51,-7.34 -122.32,-9.27 -197.66,-14.7 -900.1,-64.79 -1503.81,-1038.98 -1369.18,-1932.99 226.03,-1501.01 2190,-1784.53 2900.42,-727.2 303.51,451.7 396.78,784.86 302.85,1284.65zm-2046.11 -4056.94c-39.33,9.54 -289.31,-28.43 -806.96,145.54 -271.67,91.3 -439.39,152.87 -698.74,289.04 -1355.97,711.93 -2287.58,2260.7 -2050.16,3826.83 303.91,2004.69 2048.61,3358.58 4014.47,3358.58 1580.28,0 3280.63,-992.75 3796.97,-2553.03 221.81,-670.24 250.94,-1037.09 190.31,-1716.46 -145.26,-1627.66 -1517.36,-2956.94 -3084.04,-3301.23 -394.01,-86.59 -751.87,-83.85 -1151.31,-85.67 -249.04,-1.14 -201.27,34.16 -210.54,36.4z"/>
            <path style="fill:white" d="M35313.12 5891.39l0 3457.21c-75.93,-54.13 -1887.1,-3140.66 -2046.11,-3457.21l-2151.96 0 0 7478.86 2187.24 -176.39 0 -3492.49 2088.58 3488.22 2109.47 4.27 0 -7478.86 -2187.22 176.39z"/>
            <path style="fill:white" d="M5808.78 11065.11c-69.73,208.9 -23.18,1746.59 -23.18,2093.47 296.21,6.27 986.79,211.02 1834.44,211.67 1130.57,0.87 2253.52,-245.46 2892.87,-1199.35 293.17,-437.41 400.81,-1164.07 290.9,-1702.19 -363.6,-1780.17 -2713.08,-1854.18 -2792.72,-2326.1 -126.38,-748.86 2267.17,-190.74 2501.73,-169.85 -8.74,-412.96 -322.52,-1354.01 -517.36,-1740.41 -208.45,-413.4 -175.56,-427.39 -649.34,-479.54 -280.29,-30.85 -843.86,-70.2 -1124.13,-34.54 -1387.08,176.48 -2256.7,652.73 -2479.85,2069.93 -93.43,593.38 66.57,1298.09 474.83,1728.74 382.18,403.15 952.1,631.89 1459.16,833.9 176.29,70.23 650.78,241.17 744,385.12 224.95,347.36 -290.25,515.85 -551.83,518.94 -389.74,4.61 -722.38,-9.58 -1094.49,-37.03 -225.84,-16.66 -820.57,-167.35 -965.03,-152.76z"/>
            <path style="fill:white" d="M38558.68 13193.86c1233.08,0 2862.79,29.38 4048.08,-3.69 62.79,-92.76 467.32,-1870.88 467.47,-2042.41l-2257.78 0c62.1,-134.72 62.1,-606.11 0,-740.83 288.09,0 1214.17,46.59 1423.21,-23.18 62.73,-342.76 24.37,-1396.65 23.18,-1811.26l-1411.11 0c0,-191.94 39.2,-543.98 -35.28,-705.56l2116.67 0c-63.4,-263.18 -396.79,-1868.15 -467.68,-1966.47 -502.86,-40.36 -3191.05,-9.36 -3906.76,-9.07l0 7302.47z"/>
            <path style="fill:white" d="M42897.84 5926.66c46.87,193.43 1806.54,4026.31 2011.16,4479.95 252.33,559.42 166.52,364.77 -49.61,903.52 -144.37,359.88 -774.5,1549.7 -797.38,1813.18 159.76,0 459.63,28.85 613.74,56.54l1846.63 181.33c88.3,-111.69 1507.19,-3981.91 1758.96,-4626.32l1037.07 -2808.2 -1165.19 -104.81c-138.36,-4.59 -141.82,-32.73 -280.18,-37.32 -145.94,-4.84 -158.31,-6.32 -290.61,-26.89l-627.64 -42.64 -719.04 2432.87 -864.22 -2428.47c-109.46,-6.65 -519.93,20.77 -631.88,38.24 -351.05,54.78 -979.62,66.15 -1234.72,105.83l-607.09 63.19z"/>
            <path style="fill:white" d="M4974.21 13193.86l317.5 -2328.32c-203.17,49.22 -1000.84,605.97 -2000.2,201.03 -270.84,-109.74 -532.3,-299.86 -702.73,-531.99 -544.34,-741.43 -430.84,-2016.21 621.11,-2491.69 896.43,-405.18 1510.25,-23.67 2046.54,106.26l-368.7 -2255.12c-186.28,-105.07 -663.99,-180.53 -900.94,-179.39 -417.15,2 -661.56,10.31 -1050.84,78.77 -477.63,83.99 -1134.72,381.55 -1515.66,706.85 -944.58,806.63 -1420.28,1765.91 -1420.26,3060 0.02,1203.85 421.76,2345.06 1410.84,3069.43 1107.18,810.84 2248.57,880.92 3563.34,564.17z"/>
            <path style="fill:#D66194" d="M11430.04 1340.56c-105.39,425.16 -400.11,704.26 -810.46,882.88 -430.41,187.36 -1114.42,84.31 -969.21,-545.82 85.51,-371.08 470.88,-727.68 831.19,-862.21 442.18,-165.09 1100.3,-87.32 948.48,525.15zm-388.05 2539.99c1033.69,676.07 564.77,1282.59 564.44,1658.06 423.82,212.9 725.74,700.76 540.88,1175.87 -200.46,515.2 -623.16,633.67 -1082.14,787.58l-85.56 126.42 58.75 198.54c706.05,68.68 1464.19,26.75 1738.15,1092.33 36.24,140.94 51.31,173.93 205.75,217.58 301.87,0.43 99.22,-999 1305.28,-388.06l149.78 -130.96c-22.66,-719.12 -98.27,-549.41 -455.58,-1256.56 -538.23,-1065.25 133.97,-1687.56 132.15,-2034.29 -2.36,-450.2 -381.92,-1622.28 -545.46,-2032.67 -325.48,-816.78 -729.68,-1498.09 -1193.45,-2228.49 -609.11,-959.3 -415.55,-421.09 -1690.22,-849.77 -165.92,-55.8 -511.36,-212.84 -665.83,-216.11 -167.73,700.4 -247.49,390.96 -576.5,1046.26 -353.45,703.96 -71.91,1408.61 465.45,1640.06 558.5,240.55 860.27,-23.03 1141.69,481.09 103.54,185.47 79.33,522.94 -7.58,713.12z"/>
            <path style="fill:#D66194" d="M9443.53 14816.64l-24.32 34.77c-140.67,94.36 -521.68,491.53 -826.23,691.21 -128.17,84.04 -82.19,4.43 -126.27,120.67 1666.85,-397.43 2704.69,-1000.67 3871.43,-2372.72 697.93,-820.73 1312.35,-2059.05 1590.12,-3101.82 78.39,-294.29 275.4,-1039.94 245.05,-1325.64 -121.01,-85.36 -380.72,-107.96 -523.06,-45.97 -167.27,72.85 -227.74,174.01 -303.14,331.86 -168.29,352.35 -701.4,324.38 -796.78,-38.75 -110.43,-420.46 -163.02,-487.22 -493.89,-776.1 -198.27,-173.11 -688.5,-397.25 -953.83,-302.29 -24.88,161.68 199.45,282.98 328.12,786.88 172.71,676.33 108.05,1419.68 -8.96,2109.09 -53.39,314.59 -135.01,634.96 -234.22,929.93 -196,582.78 -383.5,1063.32 -710.97,1617.36 -421.58,713.26 -545.99,777.54 -1033.05,1341.52z"/>
            <polygon style="fill:#43182C" points="9443.53,14816.64 9419.21,14851.41 "/>
        </svg>

        <!-- <div class="main__langs">
            <div class="main__lang selected">EN</div>
            <div class="main__lang">RU</div>
        </div> -->
    </div>
</div>