<div class="settings__item">
    <div class="settings__item-info">
        <div class="settings__item-title">Prevent scam sites</div>
        <div class="settings__item-desc">When you visit scam sites you will receive a warning</div>
    </div>

    <div class="settings__item-toggle">
        <label class="form-switch">
            <input type="checkbox" id="preventScamSites">
            <i></i>
        </label>
    </div>
</div>
<div class="settings__item">
    <div class="settings__item-info">
        <div class="settings__item-title">Prevent API-key scam</div>
        <div class="settings__item-desc">If we detect suspicious activity, we’ll protect your account</div>
    </div>

    <div class="settings__item-toggle">
        <label class="form-switch">
            <input type="checkbox" id="preventApiScam">
            <i></i>
        </label>
    </div>
</div>
<div class="settings__item">
    <div class="settings__item-info">
        <div class="settings__item-title">Live analysis</div>
        <div class="settings__item-desc">Analyzing sites that can be a potential scam</div>
    </div>

    <div class="settings__item-toggle">
        <label class="form-switch">
            <input type="checkbox" id="liveAnalysis">
            <i></i>
        </label>
    </div>
</div>